<ion-view title="详情">
    <ion-header-bar class="bar bar-header">
        <h1 class="title">详情</h1>
    </ion-header-bar>
    <ion-nav-buttons side="left">
        <button class="button button-clear"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-clear" ng-click="createItem()">保存</button>
    </ion-nav-buttons>
    <ion-content class="padding" has-header="true">
        <div class="list list-inset">
            <label class="item item-input">
                <input type="number" placeholder="金额" ng-model="newItem.amount">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="名称" ng-model="newItem.name">
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    类型
                </div>
                <select ng-model="prefType"
                        ng-options="type.name for type in preferencesItemType"
                        ng-change="setTypeSelected(prefType)">
                </select>
            </label>
            <div class="row item item-input-inset">
                <div class="col-50">
                    <label class="item item-input">
                        <input type="text" placeholder="照片" ng-model="newItem.invoices">
                    </label>
                </div>
                <div class="col-50" ng-controller="CamCtrl">
                    <a class="button button-icon icon ion-ios7-camera" ng-click="takePicture()"></a>
                </div>
            </div>
            <label class="item item-input">
                <input type="date" placeholder="日期" ng-model="newItem.date">
            </label>
            <div class="row item item-input-inset">
                <div class="col-50">
                    <label class="item item-input">
                        <input type="text" placeholder="供应商" ng-model="newItem.vendors">
                    </label>
                </div>
                <div class="col-50">
                    <a class="button button-icon icon ion-plus-round" ng-click="vendorListModal.show()"></a>
                </div>
            </div>
        </div>
    </ion-content>

</ion-view>
