<ion-view title="详情">
    <ion-header-bar class="bar bar-header">
        <h1 class="title">详情</h1>
    </ion-header-bar>
    <ion-nav-buttons side="left">
        <button class="button button-clear"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-clear" ng-click="createItem()">保存</button>
    </ion-nav-buttons>
    <ion-content class="padding" has-header="true">
        <div class="list list-inset">
            <label class="item item-input">
                <input type="number" placeholder="金额" ng-model="newItem.amount">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="名称" ng-model="newItem.name">
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    类型
                </div>
                <select ng-model="prefType"
                        ng-options="type.name for type in preferencesItemType"
                        ng-change="setTypeSelected(prefType)">
                </select>
            </label>
            <label class="item item-input">
                <input type="text" placeholder="照片" ng-model="newItem.invoices">
            </label>
            <label class="item item-input">
                <input type="date" placeholder="日期" ng-model="newItem.date">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="供应商" ng-model="newItem.vendors">
            </label>
        </div>
    </ion-content>

</ion-view>
