<ion-modal-view ng-controller="CategoryCtrl" ng-init="loadCategories()">
    <ion-header-bar class="bar bar-header">
        <h1 class="title">Category</h1>
        <button class="button button-icon icon ion-close" ng-click="categoryListModal.hide()"></button>
    </ion-header-bar>
    <ion-content class="padding">
        <label class="item item-radio" ng-repeat="category in categoryList">
            <input type="checkbox" name="group" ng-click="toggleCategoryListSelection(category,$index)"
                   ng-checked="$root.categoryIDsSel.indexOf(category.id) != -1">
            <div class="item-content">{{category.name}}</div>
            <i class="radio-icon ion-checkmark"></i>
        </label>
<!--
        <div class="item item-divider" ng-repeat="category in categoryList">
            Candy Bars

            <a class="item" href="#" ng-repeat="subCategory in category.children">
                Butterfinger
            </a>

        </div>
-->

    </ion-content>
</ion-modal-view>