<ion-modal-view ng-controller="ItemsCtrl">
    <ion-header-bar class="bar bar-header">
        <h1 class="title">Item</h1>
        <button class="button button-icon icon ion-close" ng-click="itemModal.hide()"></button>
    </ion-header-bar>
    <ion-content class="padding">
        <div class="list list-inset">
            <label class="item item-input">
                <input type="number" placeholder="金额" ng-model="newItem.amount">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="名称" ng-model="newItem.name">
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    类型
                </div>
                <select ng-model="prefType"
                        ng-options="type.name for type in preferences.type"
                        ng-change="setTypeSelected(prefType)">
                </select>
            </label>
            <label class="item item-input">
                <textarea placeholder="照片" ng-model="newItem.invoices"></textarea>
            </label>
            <label class="item item-input">
                <input type="date" placeholder="日期" ng-model="newItem.date">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="供应商" ng-model="newItem.vendors">
            </label>
            <button class="button button-full" ng-click="createItem()">Submit</button>
        </div>
    </ion-content>
</ion-modal-view>