<ion-modal-view ng-controller="ItemsCtrl">
    <ion-header-bar class="bar bar-header">
        <h1 class="title">Item</h1>
        <button class="button button-icon icon ion-close" ng-click="itemModal.hide()"></button>
    </ion-header-bar>
    <ion-content class="padding">
        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="名称" ng-model="newItem.name">
            </label>
            <label class="item item-input">
                <textarea placeholder="发票" ng-model="newItem.description"></textarea>
            </label>
            <label class="item item-input">
                <input type="date" placeholder="时间" ng-model="newItem.dueDate">
            </label>
            <button class="button button-full" ng-click="createItem()">Submit</button>
        </div>
    </ion-content>
</ion-modal-view>